/* Importar aquí la font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Satisfy&display=swap');

* {
  margin:0%;
  padding: 0%;
}
html {
  /*background-color: #fbfbfb;*/
  font-size: 2.5vw;
  min-font-size: 18px; /* Tamaño de letra base para dispositivos móviles */
  max-font-size: 36px; /* Tamaño de letra base para Desktop */
}
header {
  width: 100%;
  height: 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
/*   background-color: #383838;  */
/*   background: linear-gradient(to right, #202020 10%,#383838); */
  background: linear-gradient(to right, #202020 0%, #202020 15%, #383838 50%, #202020 1000%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 0 0 25px 25px ;
}
#header2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;  
}
#header2 h1 {
  width: 85%;
}

body {
  margin-top: 12vw;; 
   background: #dcdcdc; /*color de fondo asignado inicialmente*/
  /*transition: background-color 1s ease;  utilizado para cambiar el fondo según la hora del día */
}
main{
  min-height: 100vh;
}
#logo{
  padding: 2vw;
} 
#logo img{
  width: 40vw;
}


#menu {
  width: auto;
/*   height: 6vw; */
  padding: 1vw;
  background-color: #b186862d;/* #e2d9d92d */
  font-size: 40%;
  border-radius: 5px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  color: white;
}

.menuop {
  display:inline-block;
  background: #f66b8a;
  color: white;
  padding: 0.5vw; 
  border-radius: 5px;
}
.menuop:hover {
  background: #d8d8da;
  color: black;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  font-size: 60%;  
  margin: 1vw auto;
  text-align: justify;
  width: 90%;
  line-height: 1.5;
}
h1, h5 {
  text-align: center;
  margin-bottom: 1vw;
}

footer {
 /*  height: 8vh; */
  width: 100%;
  background-color: #383838;
  color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50%;
  border-radius: 25px 25px 0 0;
  position: sticky;
  bottom: 0;
  margin-top: 1vw;
  padding-top: 0.7vw;
  font-family: 'Satisfy', cursive;
  font-size: 50%;
} 

.icono {
  width: 2vw;
}
#foot1{
  height: 90%;
  width: 65%;
  display:flex;
  justify-content:space-around;
  align-items: center;
  /*padding: 10px;*/
}
 h4 {
  font-weight: normal;   
}

/* ============================== INICIO Y REGISTRO ==============================*/
.container {
  width: 300px;
  padding: 2vh;
  margin: 2vh auto;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 80%;
}

.form-group input {
  width: 100%;
  height: 5vh;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



/* ============================== CARRUSEL ==============================*/

.carousel-container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  animation: scroll 10s linear infinite; /* Agrega animación de desplazamiento */
}

.carousel-slide img {
  width: 100%;
  height: 20vw;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

/* ============================== Lista de libros ==============================*/

table {
  border-collapse: collapse;
  width: 90%;
  margin: 1vw auto;
}
 th, td {
  padding: 8px;
  text-align: left;
  font-size: 60%;
}
th {
  background-color: #f2f2f2;
  text-align: center;
  font-size: 80%;
}
td:nth-child(4), td:nth-child(5) {
  text-align: center;
}  
td button{
  padding: 1px;
}


/*======================================== Estilos para rotar cada libro                         */
.contenedor-libros {
  perspective: 1000px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
/*   height: 100vh; */
}

.card-libro {
 /* width: 200px;
 height: 200px; */
 width: 20vw;
 height: 60vh;
 margin: 3vh 0;
 transform-style:preserve-3d;
 transition: transform 1s;
}

.libro {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.libro img {
  width: 100%;
  height: 100%;
}

.text {
  width: 100%;
  height: 100%;
  background-color: #333;
  color: #fff;  
  backface-visibility: hidden;  
  transform: rotateX(180deg);  
  overflow: auto;  
  font-size: 70%;
}

.card-libro:hover {
  transform: rotateX(180deg);
}


/*======================================== Estilos para tira de libros ============================================ */

/* Estilos para el contenedor de libros */

.lista-libros{
  display: flex;
}

.contenedor2-libros {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  width: 95%;
  margin: auto;
}

.libros {
  display: flex;
  transition: transform 0.5s ease;
}


.libros img {
  width: 15vw;
  /* height: 300px; */
  margin-right: 10px; 
}

button {
  background: transparent; 
  border: none; 
}

.flecha {
  width: 2vw;
}

/*======================================== Estilos para tres grupos de libros ============================================ */

.contenedor-galeria {
  position: relative;
  text-align: center;
  display: flex; /* Usamos flexbox para centrar verticalmente */
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: center; /* Centra horizontalmente los elementos */
  height: 50vh; /* Establece la altura del contenedor al 100% del viewport */
}



#libroIzquierda, #libroDerecha {
  width: 7vw;
}



/* Estilos para los grupos de libros */
.grupoLibros {
  display: inline-block;
  margin: 0 5vw;
  opacity: 0.5; /* Opacidad para los grupos de libros */
  width: 8vw;
}

/* Estilos para la imagen principal */
.libro-principal {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1;
  width: 30vw;
}











/* Estilos para el botón "Siguiente" */
#botonSiguiente {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
}

#botonSiguiente:hover {
  background-color: #0056b3;
}

